@font-face {
    font-family: "Momo";
    src: url(../fonts/MomoSignature-Regular.ttf);
    }
    
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
    .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    z-index: 1000;
    background: rgba(255,255,255,0.15);
    
    background-color: deepskyblue;
    }
    
    .navigation .navigation-list ul{
    display: flex;
    }
    
    .navigation .navigation-list ul li{
    padding-left: 35px;
    display: flex;
    }
    
    .navigation .navigation-list ul li a{
        font-size: 1.1em;
        text-decoration: none;
        color: black;
        transition: 0.5s;
        text-transform: uppercase;
        font-weight: 500px;
        font-family: sans-serif;
        font-size: 25px;
    }
    
    .navigation .navigation-list ul li a:hover{
        color: #f1c889;
    }
    


    .home-content{
        display: flex;
        height: 100%;
        align-items: center;
        color: #215682f8;
        padding-top: 90px;
        
    

    }
    
  .home-imgs{
    width: 600px;
    border-radius: 5px;
    margin-right: 25px;
    filter: grayscale(20%);

}
    .home-text{
        color: #000;
        font-size: 30px;
    }

.home-title {
    font-size: 40px;
    font-family: 'Momo';
    text-align: center;
    
}
    
    .home-textet{
    padding: 30px;
    font-size: 30;
    }
    .menu {
        padding: 200px 150px;
        background-color: deepskyblue;
        text-align: center;
        display: flex;
        
    
    }
    
    
.menu-card {
    background-color: #fff;
    border-radius: 8px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    padding-right: 50px;
    right: 110px;    width: 250px;
    transition: transform 0.3s;}
    
    .menu-card img {
        width:100%;
        height: 100px;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    .menu-card h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .menu-card p {
        font-size: 24px;
        color: #777;
        margin-bottom: 10px;
    }


    








